<section class="navigation-bar">
        <a class="nav-link" href="{% url 'home' %}" style="color: white;">Qui suis-je ?</a>

        <a class="nav-link" href="{% url 'cv_page' %}" style="color: white;">Réalisations professionnelles</a>

        <a class="nav-link" href="{% url 'stage_page' %}" style="color: white;">Tableau de synthèse</a>
        
        <a class="nav-link" href="{% url 'veille' %}" style="color: white;">veille technologique</a>

        <a class="nav-link" href="{% url 'page_pour_stage' %}" style="color: white;">Attestation Stage</a>
</section>